<h3><a href="/tweets/new">Create New Post</a></h3><br>

<% @tweets.each do |tweet| %>
   <h2>&#183;<%= tweet.user.username %></h2>
   <h3><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></h3>
<% end %>  
<br>
<br>
<a href="/logout">LOG OUT</a>
