<h1></h1>
<h2>
  <form method="POST" action="/tweets">
    <label for="content">New Fweet</label>
    <input type="text" name="content" id="content"><br>
    <input type="submit" id="submit">
  </form>
</h2>