<h1>Sign Up For Fwitter</h1>

<form method='POST' action='/signup'>
    <p>Username: <input type="text" id="username" name="username"></p>
    <p>Email: <input type="text" id="email" name="email"></p>
    <p>Password: <input type="text" id="password" name="password"></p>
    <p><input type="submit" value="Submit"></p>
</form>

<p>Or <a href='/login'>Log In</a> if you already have an account.</p>